node_modules/
npm-debug.*
dist/
dist.zip
daocstarter.exe
vendor/handle/handle64.exe
vendor/handle/tmp
vendor/handle/Eula.txt
tmp
resources/
*.au3
test.js
autoit/borderless/borderless.exe
autoit/calgamma/CALGamma.exe
autoit/titlerenamer/titlerenamer.exe
.gitignore.swp
package-lock.json
.vscode/launch.json
