<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>DAoC Starter</title>
	<!-- Bootstrap Core CSS -->
	<link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom Fonts -->
	<link href="../../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
	<!-- Plugin CSS -->
	<link href="../../vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
	<!-- Theme CSS -->
	<link href="../../css/creative.min.css" rel="stylesheet">

</head>

<body id="page-top">
	<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand page-scroll" href="#page-top">daoc starter main</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a class="page-scroll" href="#characters">Characters</a>
					</li>
					<li>
						<a class="page-scroll" href="#accounts">Accounts</a>
					</li>
					<li>
						<a class="page-scroll" href="#settings">Settings</a>
					</li>
					<li>
						<a class="page-scroll" href="#contact">Contact</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<header>
		<div class="header-content">
			<div class="header-content-inner">
				<h1 id="homeHeading">Your Toons Under Control</h1>
				<hr>
				<!--p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p-->
				<p>DAoC Starter can help you manage better your DAoC's accounts and characters</p>
				
			</div>
		</div>
	</header>

	<section class="bg-primary" id="characters">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 text-center">
					<h2 class="section-heading">characters</h2>
					<hr class="light">
					<p class="text-faded">characters</p>
					<a href="#accounts" class="page-scroll btn btn-default btn-xl sr-button">Go to Accounts</a>
				</div>
			</div>
		</div>
	</section>

	<section id="accounts">
		<div class="container-fluid">
			<button type="button" style="padding:10px; margin:0 50px 15px 0;" class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#add-modal"><b>Add More Rows</b></button>
			<div class="row">
				<div class="col-md-12 marginT20">
					<div class="table-responsive demo-x content">
						<table id="example" class="display" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th>#</th>
									<th>First name</th>
									<th>Email</th>
									<th>Mobile</th>
									<th>Start Date</th>
									<th style="background-image: none">Edit</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="edit-modal-label">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<form class="form-horizontal" id="edit-form">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="edit-modal-label">Edit selected row</h4>
						</div>
						<div class="modal-body">
							<input type="hidden" id="edit-id" value="" class="hidden">
							<div class="form-group">
								<label for="firstname" class="col-sm-2 control-label">Firstname</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="firstname" name="firstname" placeholder="Firstname" required>
								</div>
							</div>
							<div class="form-group">
								<label for="email" class="col-sm-2 control-label">E-mail</label>
								<div class="col-sm-10">
									<input type="email" class="form-control" id="email" name="email" placeholder="E-mail address" required>
								</div>
							</div>
							<div class="form-group">
								<label for="mobile" class="col-sm-2 control-label">Mobile</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="mobile" name="mobile" placeholder="Mobile" required>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Save changes</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="modal fade" id="add-modal" tabindex="-1" role="dialog" aria-labelledby="add-modal-label">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<form class="form-horizontal" id="add-form">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="add-modal-label">Add new row</h4>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label for="add-firstname" class="col-sm-2 control-label">Firstname</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="add-firstname" name="firstname" placeholder="Firstname" required>
								</div>
							</div>
							<div class="form-group">
								<label for="add-email" class="col-sm-2 control-label">E-mail</label>
								<div class="col-sm-10">
									<input type="email" class="form-control" id="add-email" name="email" placeholder="E-mail address" required>
								</div>
							</div>
							<div class="form-group">
								<label for="add-mobile" class="col-sm-2 control-label">Mobile</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="add-mobile" name="mobile" placeholder="Mobile" required>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Save changes</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- SETTINGS-->
	<section class="no-padding" id="settings">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 text-center">
					<h2 class="section-heading">settings</h2>
					<hr class="light">
					<p class="text-faded">settings</p>
				</div>
			</div>
		</div>
	</sectionì

	<section id="contact">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 text-center">
					<h2 class="section-heading">Let's Get In Touch!</h2>
					<hr class="primary">
					<p>Any problems or idea? Feel free to write a mail!</p>
				</div>
				<div class="col-lg-4 text-center">
					<i class="fa fa-envelope-o fa-3x sr-contact"></i>
					<p><a href="mailto:simon387@hotmail.it">simon387@hotmail.it</a></p>
				</div>
			</div>
		</div>
	</section>

	<script>
		window.jQuery = window.$ = require('jquery'); 
		
		var dt = require( 'datatables.net' )();
		dt.$('#example').DataTable({//"ajax":"../../ajax.txt",
			"aProcessing":false,
			"aServerSide":false,
			"ajax":"http://localhost:3000?ajax"
		});
/*
		$('#example').dataTable({
			"aProcessing": true,
			"aServerSide": true,
			"ajax": "datatable.php?ajax"
		});*/

		// Save edited row
		$("#edit-form").on("submit", function(event) {
			event.preventDefault();
			$.post("../../datatable.js?edit=" + $('#edit-id').val(), $(this).serialize(), function(data) {
				var obj = $.parseJSON(data);
				var tr = $('a[data-id="row-' + $('#edit-id').val() + '"]').parent().parent();
				$('td:eq(1)', tr).html(obj.name);
				$('td:eq(2)', tr).html(obj.email);
				$('td:eq(3)', tr).html(obj.mobile);
				$('#edit-modal').modal('hide');
			}).fail(function() { alert('Unable to save data, please try again later.'); });
		});
		// Add new row
		$("#add-form").on("submit", function(event) {
			event.preventDefault();
			$.post("../../datatable.js?add", $(this).serialize(), function(data) {
				var obj = $.parseJSON(data);
				$('#example tbody tr:last').after('<tr role="row"><td class="sorting_1">' + obj.id + '</td><td>' + obj.name + '</td><td>' + obj.email + '</td><td>' + obj.mobile + '</td><td>' + obj.start_date + '</td><td><a data-id="row-' + obj.id + '" href="javascript:editRow(' + obj.id + ');" class="btn btn-default btn-sm">edit</a>&nbsp;<a href="javascript:removeRow(' + obj.id + ');" class="btn btn-default btn-sm">remove</a></td></tr>');
				$('#add-modal').modal('hide');
			}).fail(function() { alert('Unable to save data, please try again later.'); });
		});
		// Edit row
		function editRow(id) {
			if ( 'undefined' != typeof id ) {
				$.getJSON('../../datatable.js?edit=' + id, function(obj) {
					$('#edit-id').val(obj.id);
					$('#firstname').val(obj.name);
					$('#email').val(obj.email);
					$('#mobile').val(obj.mobile);
					$('#edit-modal').modal('show')
				}).fail(function() { alert('Unable to fetch data, please try again later.') });
			} else alert('Unknown row id.');
		}
		// Remove row
		function removeRow(id) {
			if ( 'undefined' != typeof id ) {
				$.get('../../datatable.js?remove=' + id, function() {
					$('a[data-id="row-' + id + '"]').parent().parent().remove();
				}).fail(function() { alert('Unable to fetch data, please try again later.') });
			} else alert('Unknown row id.');
		}
	</script>
	
	
	<!-- Bootstrap Core JavaScript -->
	<script src="../../vendor/bootstrap/js/bootstrap.min.js"></script>
	<!-- Plugin JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<script src="../../vendor/scrollreveal/scrollreveal.min.js"></script>
	<script src="../../vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
	<!-- Theme JavaScript -->
	<script src="../../js/creative.min.js"></script>

</body>

</html>
